# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle

tmp/es/*

rest_api/build
use_cases/build
sql_persistence/build
models/build

rest_api/out
use_cases/out
sql_persistence/out
models/out

# Ignore IntelliJ
.idea
kanban_simulator.iml