# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle

rest_api/build
use_cases/build
sql_persistence/build

# Ignore IntelliJ
.idea
kanban_simulator.iml